@model Web.ViewModels.InvitationDetailsViewModel

<div data-dialog="true" title="Add a Munchy" data-action="add-food-item">
    @using (Ajax.BeginForm("AddFoodItem", "Service", new AjaxOptions { HttpMethod = "Post", OnSuccess = "EventPlanner.Events.addFoodItem" }))
    {
        <fieldset>
            <legend>AddFoodItem</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.AddFoodItem.Title)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.AddFoodItem.Title)
                @Html.ValidationMessageFor(model => model.AddFoodItem.Title)
            </div>  
            <div class="editor-label">
                @Html.LabelFor(model => model.AddFoodItem.Description)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.AddFoodItem.Description)
                @Html.ValidationMessageFor(model => model.AddFoodItem.Description)
            </div>    
            @Html.Hidden("FoodControlId", "WillBringTheseFoodItems")
            @Html.HiddenFor(m => m.AccepteeId)
            <input type="submit" value="Add this munchy" />
        </fieldset>                  
    }    
</div>

<div data-dialog="true" title="Add a Game" data-action="add-game-item">
    @using (Ajax.BeginForm("AddGame", "Service", new AjaxOptions { HttpMethod = "Post", OnSuccess = "EventPlanner.Events.addGame" }))
    {
        <fieldset>
            <legend>AddFoodItem</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.AddGameItem.Title)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.AddGameItem.Title)
                @Html.ValidationMessageFor(model => model.AddGameItem.Title)
            </div>  
            <div class="editor-label">
                @Html.LabelFor(model => model.AddGameItem.Description)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.AddGameItem.Description)
                @Html.ValidationMessageFor(model => model.AddGameItem.Description)
            </div>    
            @Html.Hidden("FoodControlId", "WillBringTheseGames")
            @Html.HiddenFor(m => m.AccepteeId)
            <input type="submit" value="Add Game" />
        </fieldset>                  
    }    
</div>