@model Web.ViewModels.InvitationDetailsViewModel

@{
    ViewBag.Title = "Accept Invitation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var myFoodItemIds = Model.MyFoodItems.Select(item => item.Value).ToList();
    var foodOtherPeopleAreBringing =
        Model.AllEventFoodItems.Where(x => !myFoodItemIds.Contains(x.FoodItemId.ToString())).ToList();
    var myGameIds = Model.MyGames.Select(item => item.Value).ToList();
    var gamesOtherPeopleAreBringing =
        Model.AllEventGames.Where(x => !myGameIds.Contains(x.GameId.ToString())).ToList();        
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Model.Title</h1>
            </hgroup>
            <p>
                This event starts on @Model.StartDate.Value.ToShortDateString() and goes from @Model.StartTime to @Model.EndTime
            </p>
            <p>
                @Model.Description
            </p>
        </div>
    </section>
}

<p class="message-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="editor-field">
            @Html.HiddenFor(model => model.EventId)
            @Html.HiddenFor(model => model.PersonId)
        </div>

        <h3>Food items other people are bringing</h3>
        
        @if (foodOtherPeopleAreBringing.Count > 0)
        {
            <ul>
                @foreach (var food in foodOtherPeopleAreBringing)
                {
                    <li>@food.Title</li>
                }
            </ul>
        }
        else
        {
            @:No one else is bringing any food yet.
        }

        <h3>Games other people are bringing</h3>        
        @if (gamesOtherPeopleAreBringing.Count > 0)
        {
            <ul>
                @foreach (var game in gamesOtherPeopleAreBringing)
                {
                    <li>@game.Title </li>
                }
            </ul>
        }
        else
        {
            @:No one else is bringing any games yet.
        }

        <h3>Food items I can bring</h3>
        <div class="editor-field">
            <p>
                <input type="text" data-autocomplete-list="food" data-event-id="@Model.EventId" data-person-id="@Model.PersonId" />
                <a href="javascript:;" data-open-modal="add-food-item">Add to my food list</a>
            </p>
            <div class="food-list">
                @Html.Partial("_FoodItemListTemplate", Model.WillBringTheseFoodItems)
            </div>
        </div>  
          
        <h3>Games I can bring</h3>
        <div class="editor-field">
            <p>
                <input type="text" data-autocomplete-list="games" />
                <a href="javascript:;" data-open-modal="add-game-item">Add to my games list</a>
            </p>
            <div class="game-list">
                @Html.Partial("_GameListTemplate", Model.WillBringTheseGames)
            </div>
        </div>

        @Html.HiddenFor(model => model.Title)
        @Html.HiddenFor(model => model.Description)
        @Html.HiddenFor(model => model.StartDate)
        @Html.HiddenFor(model => model.StartTime)
        @Html.HiddenFor(model => model.EndTime)

        <p>
            <input type="submit" value="Accept" />
        </p>
    </fieldset>
}

@Html.Partial("_ManageEventItems", Model)


<div>
    @Html.ActionLink("Nevermind", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
