@model Web.ViewModels.AcceptInvitationViewModel

@{
    ViewBag.Title = "AcceptInvitation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Model.Title</h1>
            </hgroup>
            <p>
                @Model.Description
            </p>
        </div>
    </section>
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AcceptInvitationViewModel</legend>

        <div class="editor-field">
            @Html.HiddenFor(model => model.EventId)
            @Html.HiddenFor(model => model.AccepteeId)
        </div>

        @*        <div class="editor-label">
            @Html.LabelFor(model => model.Foo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccepteeId)
            @Html.ValidationMessageFor(model => model.AccepteeId)
        </div>*@
        
        <h3>Food items I can bring</h3>
        <h3>Games I can bring</h3>

        <p>
            <input type="submit" value="Accept" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Nevermind", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
