@model Web.ViewModels.InvitationDetailsViewModel

@{
    ViewBag.Title = "AcceptInvitation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Model.Title</h1>
            </hgroup>
            <p>
                @Model.Description
            </p>
        </div>
    </section>
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="editor-field">
            @Html.HiddenFor(model => model.EventId)
            @Html.HiddenFor(model => model.AccepteeId)
        </div>

        <h3>Food items already coming to the event</h3>
        
        @if (Model.CurrentEventFoodItems.Count > 0)
        {
            <ul>
                @foreach (var food in Model.CurrentEventFoodItems)
                {
                    <li>@food.Title - @food.Description</li>
                }
            </ul>
        }
        else
        {
            @:No one is bringing any food yet.
        }

        <h3>Games already coming to the event</h3>        
        @if (Model.CurrentEventGames.Count > 0)
        {
            <ul>
                @foreach (var game in Model.CurrentEventGames)
                {
                    <li>@game.Title - @game.Description</li>
                }
            </ul>
        }
        else
        {
            @:No one is bringing any games yet.
        }

        <h3>Food items I can bring</h3>
        <div class="editor-field">
            <a href="javascript:;" data-open-modal="add-food-item">Add to my food list</a><br/>
            @Html.ListBoxFor(model => model.WillBringTheseFoodItems, Model.MyFoodItems, new { name="MyFoodItems", @class="fancy-list-box", data_placeholder_type="food-list"})
        </div>  
          
        <h3>Games I can bring</h3>
        <div class="editor-field">
            <a href="javascript:;" data-open-modal="add-game-item">Add to my food list</a><br/>
            @Html.ListBoxFor(model => model.WillBringTheseGames, Model.MyGames, new { name="MyGames", @class="fancy-list-box", data_placeholder_type="game-list"})
        </div> 

        <p>
            <input type="submit" value="Accept" />
        </p>
    </fieldset>
}

@Html.Partial("_AddEventItems", Model)


<div>
    @Html.ActionLink("Nevermind", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
