@model Web.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
    ViewBag.Message = "you will find a list of all events you host or have been invited to here";
    var userId = WebSecurity.GetUserId(User.Identity.Name);
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To make modifications to any of the events listed below, click the appropriate links.
            </p>
        </div>
    </section>
}

<p class="message-success">@ViewBag.StatusMessage</p>

<h3>My Events</h3>
<p>These are the events that you are coordinating.</p>
<ul>
    @foreach (var item in Model.MyEvents)
    {
        <li>@item.Title - @Html.ActionLink("Edit", "Edit", "Event", new { id = item.EventId}, null) | @Html.ActionLink("Cancel", "Delete", "Event", new { id = item.EventId}, null)</li>
    }
</ul>

<h3>Invitations</h3>
<p>These are events that you have been invited to.</p>
<ul>
    @foreach (var item in Model.MyInvitations)
    {
        <li>@item.Title - @Html.ActionLink("Accept", "AcceptInviation", "Service", new { id = item.EventId, userId = userId}, null) | @Html.ActionLink("Decline", "DeclineInviation", "Service", new { id = item.EventId, userId = userId}, null)</li>
    }
</ul>

<h3>Accepted</h3>
<p>These are event invitations that you have accepted.</p>
<ul>
    @foreach (var item in Model.AmAttending)
    {
        <li>@item.Title - @Html.ActionLink("Edit", "AcceptInviation", "Service", new { eventId = item.EventId, userId = userId}, null) | @Html.ActionLink("Cancel", "DeclineInviation", "Service", new { id = item.EventId, userId = userId}, null)</li>
    }
</ul>

<h3>Declined</h3>
<p>These are event invitations that you have declined.</p>
<ul>
    @foreach (var item in Model.HaveDeclined)
    {
        <li>@item.Title - @Html.ActionLink("Edit", "AcceptInviation", "Service", new { eventId = item.EventId, userId = userId}, null) | @Html.ActionLink("Cancel", "DeclineInviation", "Service", new { id = item.EventId, userId = userId}, null)</li>
    }
</ul>
