@model Web.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
    ViewBag.Message = "you will find a list of all events you host or have been invited to here";
    var userId = WebSecurity.GetUserId(User.Identity.Name);
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To make modifications to any of the events listed below, click the appropriate links.
            </p>
        </div>
    </section>
}

<p class="message-success">@ViewBag.StatusMessage</p>

@if (Model != null)
{
    <h3>My Events</h3>
    <p>These are the events that you are coordinating.</p>
    <ul>
        @foreach (var item in Model.MyEvents)
        {
            <li>@item.Title - @Html.ActionLink("Edit", "Edit", "Event", new { id = item.EventId}, null) | @Html.ActionLink("Cancel", "Delete", "Event", new { id = item.EventId}, new { onclick = "return confirm('Are you sure you want to permanently delete this event?')" })</li>
        }
    </ul>
    
    @Html.ActionLink("Host new event", "Create", "Event");

    <h3>My Invitations</h3>
    <p>These are events that you have been invited to.</p>
    <ul>
        @foreach (var item in Model.MyInvitations)
        {
            if (!item.HasAccepted.Value && !item.HasDeclined.Value)
            {
                <li>@item.Title - @Html.ActionLink("Accept", "AcceptInvitation", "Home", new {eventId = item.EventId, accepteeId = userId}, null) | @Html.ActionLink("Decline", "DeclineInviation", "Home", new {eventId = item.EventId, accepteeId = userId}, null)</li>
            }
            else if(item.HasAccepted.Value)
            {
                <li>@item.Title - @Html.ActionLink("Decline", "DeclineInviation", "Home", new {eventId = item.EventId, accepteeId = userId}, null) | @Html.ActionLink("View", "ViewInvitation", "Home", new {eventId = item.EventId, accepteeId = userId}, null)</li>
            }
            else if(item.HasDeclined.Value)
            {
                <li>@item.Title - @Html.ActionLink("Accept", "AcceptInvitation", "Home", new {eventId = item.EventId, accepteeId = userId}, null)</li>
            }            
        }
    </ul>@*

    <h3>Accepted</h3>
    <p>These are event invitations that you have accepted.</p>
    <ul>
        @foreach (var item in Model.AmAttending)
        {
            <li>@item.Title - @Html.ActionLink("Cancel", "DeclineInviation", "Home", new { eventId = item.EventId, accepteeId = userId}, null)</li>
        }
    </ul>

    <h3>Declined</h3>
    <p>These are event invitations that you have declined.</p>
    <ul>
        @foreach (var item in Model.HaveDeclined)
        {
            <li>@item.Title - @Html.ActionLink("Accept", "AcceptInvitation", "Home", new { eventId = item.EventId, accepteeId = userId}, null)</li>
        }
    </ul>*@    
}

