@model Web.ViewModels.InvitationDetailsViewModel

@{
    ViewBag.Title = "View Invitation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Model.Title</h1>
            </hgroup>
            <p>
                @Model.Description
            </p>
        </div>
    </section>
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>InvitationViewModel</legend>

        <div class="editor-field">
            @Html.HiddenFor(model => model.EventId)
            @Html.HiddenFor(model => model.PersonId)
        </div>

        <h3>Food items already coming to the event</h3>
        
        @if (Model.AllEventFoodItems.Count > 0)
        {
            <ul>
                @foreach (var food in Model.AllEventFoodItems)
                {
                    var whoIsBringingIt = Model.MyFoodItems.Select(x => x.Value).Contains(food.FoodItemId.ToString()) ? " - Brought by you" : "";
                    <li>@food.Title @whoIsBringingIt</li>
                }
            </ul>
        }
        else
        {
            @:No one is bringing any food yet.
        }

        <h3>Games already coming to the event</h3>        
        @if (Model.AllEventGames.Count > 0)
        {
            <ul>
                @foreach (var game in Model.AllEventGames)
                {
                    var whoIsBringingIt = Model.MyGames.Select(x => x.Value).Contains(game.GameId.ToString()) ? " - Brought by you" : "";
                    <li>@game.Title @whoIsBringingIt</li>
                }
            </ul>
        }
        else
        {
            @:No one is bringing any games yet.
        }

        <h3>Food items I can bring</h3>
        <div class="editor-field">
            <p><a href="javascript:;" data-open-modal="add-food-item">Add to my food list</a></p>
            @Html.ListBoxFor(model => model.WillBringTheseFoodItems, Model.MyFoodItems, new { name="MyFoodItems", @class="fancy-list-box", data_placeholder_type="food-list"})
        </div>  
          
        <h3>Games I can bring</h3>
        <div class="editor-field">
            <p><a href="javascript:;" data-open-modal="add-game-item">Add to my games list</a></p>
            @Html.ListBoxFor(model => model.WillBringTheseGames, Model.MyGames, new { name="MyGames", @class="fancy-list-box", data_placeholder_type="game-list"})
        </div> 

        <p>
            <input type="submit" value="Update" />
        </p>
    </fieldset>
}

@Html.Partial("_AddEventItems", Model)

<div>
    @Html.ActionLink("Nevermind", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
