@model Web.ViewModels.EditEventViewModel

<div data-dialog="true" title="Invite More People" data-action="invite-person-to-event">
    @using (Ajax.BeginForm("FindUserByEmail", "Service", new AjaxOptions { HttpMethod = "POST", OnSuccess = "EventPlanner.Events.addEmailInvite" }))
    {
        <fieldset>
            <legend>EmailInvite</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.EmailInvite.FirstName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.EmailInvite.FirstName)
                @Html.ValidationMessageFor(model => model.EmailInvite.FirstName)
            </div>  
            <div class="editor-label">
                @Html.LabelFor(model => model.EmailInvite.LastName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.EmailInvite.LastName)
                @Html.ValidationMessageFor(model => model.EmailInvite.LastName)
            </div>  
            <div class="editor-label">
                @Html.LabelFor(model => model.EmailInvite.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.EmailInvite.Email)
                @Html.ValidationMessageFor(model => model.EmailInvite.Email)
            </div>  
            @Html.Hidden("EmailInvite.InviteControlId", "PeopleInvited")
            <input type="submit" value="Invite this person" />
        </fieldset>                  
    }    
</div>