@model Web.ViewModels.EditEventViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Event</h2>

<p class="message-success">@ViewBag.StatusMessage</p>

    @if (Model != null)
    {
        using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>EventViewModel</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Title)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Description)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Location)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Location)
                    @Html.ValidationMessageFor(model => model.Location)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.StartDate)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.StartDate)
                    @Html.ValidationMessageFor(model => model.StartDate)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.StartTime)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.StartTime, new { data_autocomplete="true" })
                    @Html.ValidationMessageFor(model => model.StartTime)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.EndTime)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.EndTime, new { data_autocomplete="true" })
                    @Html.ValidationMessageFor(model => model.EndTime)
                </div>
                
                <div class="editor-label">
                    @Html.LabelFor(model => model.PeopleInvited)
                </div>
                <div class="editor-field">
                    <input type="text" data-autocomplete-list="guests" />
                    <a href="javascript:;" data-open-modal="invite-person-to-event">Invite people to my friends list</a>
                    <div class="guest-lists">
                        @Html.Partial("_InvitedPeopleTemplate", Model)
                    </div>
                </div> 
                
                <div class="editor-label">
                    @Html.LabelFor(model => model.WillBringTheseFoodItems)
                </div>
                <div class="editor-field">
                    <input type="text" data-autocomplete-list="food" data-event-id="@Model.EventId" data-person-id="@Model.PersonId" />
                    <a href="javascript:;" data-open-modal="add-food-item">Add to my food list</a>
                    <div class="food-list">
                        @Html.Partial("_FoodItemListTemplate", Model.WillBringTheseFoodItems)
                    </div>
                </div>  
          
                <div class="editor-label">
                    @Html.LabelFor(model => model.WillBringTheseGames)
                </div>
                <div class="editor-field">
                    <input type="text" data-autocomplete-list="games" />
                    <a href="javascript:;" data-open-modal="add-game-item">Add to my games list</a>
                    <div class="game-list">
                        @Html.Partial("_GameListTemplate", Model.WillBringTheseGames)
                    </div>
                </div>                              

                <p>
                    @Html.HiddenFor(model => model.EventId)
                    @Html.HiddenFor(model => model.PersonId)
                    <input type="submit" value="Save" />
                </p>
            </fieldset>
        }
 
        @Html.Partial("_InvitePeopleDialog", Model)
        @Html.Partial("_ManageEventItems", Model)
    }
<div>
    @Html.ActionLink("Back to Dashboard", "Index","Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
